.venv/
__pycache__/
*.pyc

data/processed/

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Spark temporary files
metastore_db/
derby.log

# Environment files
.env

# IDE settings
.vscode/